name: Build + Release

on:
  push:
    tags:
      - "v*"
    branches:
      - main
    paths-ignore:
      - ".github/workflows/agent.yml"
      - ".github/workflows/codeql-analysis.yml"
      - ".github/workflows/test.yml"
      - ".github/workflows/contributors.yml"
      - "README.md"
      - ".goreleaser.yml"
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        goos: [linux, windows, darwin, freebsd]
        goarch: [amd64, arm64, 386]
        include:
          - goos: linux
            goarch: 386
          - goos: linux
            goarch: s390x
          - goos: linux
            goarch: riscv64
          - goos: linux
            goarch: arm
          - goos: linux
            goarch: mips
            gomips: softfloat
          - goos: linux
            goarch: mipsle
            gomips: softfloat
          - goos: linux
            goarch: loong64
          - goos: freebsd
            goarch: arm
        exclude:
          - goos: darwin
            goarch: 386

    name: Build artifacts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25.2

      # 1️⃣ Clone 私有仓库
      - name: Clone private repo
        run: |
          git clone https://${{ secrets.PRIVATE_REPO_TOKEN }}@github.com/${{ secrets.PRIVATE_REPO }} private-repo

      # 2️⃣ 安装 GoReleaser CLI
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "~> v2"
          install: true

      # 3️⃣ Build Test
      - name: Build Test
        if: github.event_name != 'push' || !contains(github.ref, 'refs/tags/')
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          GOMIPS: ${{ matrix.gomips }}
        run: |
          cd private-repo
          goreleaser build --single-target --clean --skip=validate --snapshot

      # 4️⃣ Build Release
      - name: Build
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          GOMIPS: ${{ matrix.gomips }}
        run: |
          cd private-repo
          goreleaser build --single-target --clean --skip=validate

      # 5️⃣ Archive
      - name: Archive
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          cd private-repo
          zip -jr dist/nezha-agent_${GOOS}_${GOARCH}.zip dist/*/*

      # 6️⃣ Upload artifacts
      - name: Upload artifacts
        run: |
          cd private-repo
          ls dist
        uses: actions/upload-artifact@v4
        with:
          name: nezha-agent_${{ matrix.goos }}_${{ matrix.goarch }}
          path: ./private-repo/dist/nezha-agent_${{ matrix.goos }}_${{ matrix.goarch }}.zip

  release:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    needs: build
    name: Release
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./assets

      - name: Checksum
        run: sha256sum ./assets/*/*.zip | awk -F" |/" '{print $1, $NF}' > checksums.txt

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            checksums.txt
            assets/*/*.zip
          generate_release_notes: true
